.jarallax{background-size:cover;background-repeat:no-repeat;background-position:50% 50%;}
*, *:after, *:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;margin:0;line-height:1.5;-webkit-font-smoothing:antialiased;}
h1{font-size:50px;}
h2{font-size:30px;}
p{margin-top:0;margin-bottom:5px;}
small{font-size:75%;color:#606060;}
a, a:visited, a:hover, a:focus{color:inherit;}
a:hover, a:focus{color:#FFFFFF;}
.jarallax{
    padding-top:45px;
    padding-bottom: 60px;
}
/*min-height:400px;*/
.demo-table{display:table;width:100%;height:400px;/*352*/color:#fff;}
.demo-table-cell{display:table-cell;text-align:center;vertical-align:middle;}
.demo-gap{padding:50px;}
.demo-gap h1,
.demo-gap h2,
.demo-gap h3{text-align:center;}
.demo-gap .container{max-width:800px;margin:0 auto;}
.demo-gap-half{display:table;width:100%;}
.demo-gap-half > div{display:table-cell;width:50%;}
.demo-gap-half .demo-gap-1 .jarallax,
.demo-gap-half .demo-gap-2 .jarallax{padding-top:56.25%;min-height:auto;height:0;}
.demo-gap-half .demo-gap-1 .jarallax{padding-top:112.5%;}
.demo-full-height,
.demo-full-height .demo-table{height:96vh;min-height:600px;}