body{
    font-family: Nunito Sans,Helvetica,Arial,sans-serif !important;
}

.navbar{
    min-height: 80px;
}

/*
.collapse{
    display: block;
}
*/

@media (max-width: 767px) {
    .top-sp {
        padding-top: 5px !Important;
    }
    
    .alinear-der{
        float: left !important;
    }
    
    .ht_mob{
        margin-bottom: 20px;
        
    }
}

.tit-pri{
    color: #0067ab;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.cuadro{
    width: 1140px;
/*    height: 520px;*/
    overflow: hidden;
/*  min-height: 450px;    */
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    display: -webkit-inline-box;
}

.img-fluid {
    max-width: 100%;
}

.campo-h{
    border: 1px solid #CFD8DC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-footer{
    border-top: none;
}

.btn{
    margin-top: 5px;
}

/********************************/

.titulos-txt{
    color: #455a64;/*455a64*/
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.frase-txt{
    color: #FFFFFF;/*455a64*/
    font-size: 22px;
    text-align: center;
    padding-top: 450px;
    text-shadow: 1px 1px 2px rgba(100, 100, 100, 1);
}

.textos{
    color: rgb(120, 144, 156) !Important;
    font-weight: 300 !important;
    font-size: 16px !important;
    text-align: left !important;
}

.textos-ot{
    color: rgb(120, 144, 156) !Important;
    font-weight: 300 !important;
    font-size: 16px !important;
    text-align: center !important;   
    
}


.textos-01{
    color: #CFD8DC !Important;
    font-weight: 300 !important;
    font-size: 16px !important;
    text-align: center !important!;
}

.bloque{
    border: 1px solid #CFD8DC;
    padding-top: 30px;
    padding-bottom: 40px;
}

.pie-txt{
    color: #FFFFFF !important;
    
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

ul li {
    padding: 3px 0;
}

footer.Footer ul li a {
    color: #b0bec5;
    font-size: 14px;
    font-weight: 300;
}

.pie-footer-txt{
    color: #CFD8DC;
    text-align: center;
    padding-top: 40px;
}

.url-costa{
    color: #FFFFFF !important;
    font-weight: bold;
    font-size: 25px;
}

.frase-head-txt{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.med-logo{
    height: 45px;
}

.Footer-social-item {
    display: inline-block;
    margin-right: 8px;
}

.Footer-select-country select {
    width: 200px;
    height: 44px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    border: 1px solid #78909c;
    margin-top: 30px;
}

.Footer-social-links{
    margin-top: 20px
}

/****************************************************/

.txt-tit{
    color: #01579B !important;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.txt-subTIT{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.60);
}

.txt-desde{
    color: #FFFFFF;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.60);
}

.txt-precio{
    color: #FFFFFF;
    font-size: 2.6em;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.60);
}

.txt-tit{
    color: #FFFFFF !important;
    font-weight: bold;
    text-align: center;
    font-size: 2.2em;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.60);
}

.txt-desc{
    color: #FFFFFF;
    font-size: 1.2em;
    line-height: 28px;
    text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.60);
}



/*********************02*****************************/
.txt-tit-02{
    color: #FFFFFF !important;
    font-weight: bold;
    text-align: center;
    font-size: 2.2em;
}

.txt-desc-02{
    color: #E0E0E0;
    font-size: 1.2em;
    line-height: 28px;
}

.txt-subTIT-02{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

.txt-desde-02{
    color: #FFFFFF;
    font-size: 1.4em;
}

.txt-precio-02{
    color: #FFFFFF;
    font-size: 2.6em;
    font-weight: bold;
}

.tit-ciudad{
    color: #455a64;
    font-size: 2em;
    font-weight: bold;
    text-align: center;    
}

/*********************02**********************/

.pos-precio{
    top: 40px;
    text-align: center;
}


.campo{
    border: 1px solid #CFD8DC;
    padding-top: 20px;
    padding-bottom: 20px;
/*    padding-left: 0px !important;*/
}

.camp-desc{
/*  border: 1px solid #CFD8DC;*/
    background: #FFFFFF;
    background: rgba(236, 239, 241, 0.90);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.camp-desc-02{
/*  border: 1px solid #FFFFFF !important;*/
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.tit-ter-txt{
    font-size: 14px !important;
    font-weight: bold !important;
    color: #546E7A !important;
}

.txt-ter-txt{
    font-size: 12px !important;
    color: #546E7A !important;
    text-align: justify !important;
}

.btn_reservar{
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-default{
    border: 1px solid #B0BEC5;
}

/******** CALENDARIO **********/

.ui-widget-header{
    border: 1px solid #455A64 !important;
    background: #ECEFF1 !important;
    color: #263238 !important;
    
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ECEFF1 !imprtant;
    color: #455A64 !imprtant;
}

.ui-widget-content{
    color: #263238 !imprtant;
}

.cont-calendar{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    
}

.txt-btn-scroll{
    color: #455a64 !important;
    font-size: 20px !important;
    background: #FFEBEE;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

/*SCROLL*/

.scroll-to-top{
  text-decoration: none;
  position: fixed; 
  top: 150px;
  right: 20px;
  display: none;
  font-size: 36px;
  color: #FFFFFF;
}

.scroll-to-top:hover{
  text-decoration:none;
  color: #000;
}

/*****************************/

.btn-info{
    color: #FFFFFF !important;
}

.carousel_principal{
    margin-top: 135px;
}

.spc-nav{
    min-height: 50px;
}

.navbar-inverse{
    background: #48321f;
}

.navbar-inverse .navbar-nav>li>a{
    color: #D7CCC8;
}

/****************************/

.txt-desc-HT {
    color: rgb(224, 224, 224);
    font-size: 1.2em;
    line-height: 22px;
}

.marg-img-01{
    margin-bottom: 10px;
}

.marg-img-02{
    margin-top: 10px;
}

.marg-img-03{
    padding-right: 8px;
}

.marg-img-04{
    padding-left: 0px;
}
.tit_serv {
    background: #1565C0;
    padding-top: 20px;
    padding-bottom: 20px;
}

/************ MAPS ************/

.map-container{
    width: 100%;
}

.map-container iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
	pointer-events: auto;
}

.menu-top{
    margin-top:80px;
}

.alinear-der{
    float: right;
}

.epe-form-element {
    padding: 4px;
}
.epe-text-color {
    color: #6E6E6E;
}
.epe-text {
    border: none;
}
.form-group {
    /*border: 1px solid red;*/
    margin-bottom: 9px !important;

}
.epe-calendar {
    background: #fff url('../img/calendario.png') no-repeat 166px 5px/9%;
    width: 11.2em;
}

/*#a1a6ac url("../images/calendario.png") no-repeat 112px 4px/12%*/

.nav>li>a{
    padding: 10px 11px !important;
}


