<div class="tit_serv">
    <h2 class="tit-ciudad" style="color: #FFFFFF;"><i class="fa fa-h-square" aria-hidden="true"></i> HOTELS</h2>
</div>
<div id="HT01" class="demo-gap">
    <h2 class="tit-ciudad">HOTEL MELIA LIMA</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/melia/melia_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/melia/m_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/melia/melia_02.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/melia/m_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/melia/melia_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/melia/m_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/melia/melia_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/melia/m_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        Located in San Isidro, the most important financial district of the city, next to the Real Plaza Salaverry shopping center and very close to the historical center, Miraflores and the International Airport of Lima (Jorge Chavez). Meliá Lima is one of the best options to stay and discover the Peruvian capital, thanks to its strategic location, its complete and comfortable facilities and the quality of its services.<br>

                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Internet in the room and public areas.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Use of bicycles.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Access to pool.
                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. Salaverry 2599, San Isidro..</strong><br>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <!-- maxlength="0" : para no escribir numeros ni letras en la caja date-->
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" id="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0" value="21/08/2017">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" id="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0" value="23/08/2017">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="139.00">Single room rate US$ 139.00</option>
                                <option value="161.00">Double room rate US$ 161.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.134003800667!2d-77.05274!3d-12.092734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8438774b40de86e!2sMeli%C3%A1+Lima!5e0!3m2!1ses!2spe!4v1499979827786" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>
<div id="HT02" class="demo-gap">
    <h2 class="tit-ciudad">BUSINESS TOWER HOTEL - BTH</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/business/business_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/business/business_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/business/business_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/business/business_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/business/business_04.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/business/business_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/business/business_04.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/business/business_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        A modern hotel that brings together the latest trends in art, fashion and design; surprising its customers with experiences and entertainment. BTH Hotel is located between 45 min. or 60 min. from the Lima airport and 5 minutes from the business area, has an innovative fleet of mini countryman remisse service, personalized in the BTH style. Discover and be part of the organic world, stroll through the theme floors, the gallery, enjoy the gourmet restaurant, the terrace and the boutique cocktails.<br>

                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Whirlpool tub.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> High Speed Wi-Fi Connection.
                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. Guardia Civil 727 Corpac, San Borja.</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms:</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="99">Single room rate US$ 99.00</option>
                                <option value="109">Double room rate US$ 109.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15604.870701674037!2d-77.0113505!3d-12.0972454!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41eeeca74ce91183!2sBTH+Hotel+%7C+Boutique+Concept!5e0!3m2!1ses!2spe!4v1499979874824" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>


<div id="HT07" class="demo-gap">
    <h2 class="tit-ciudad">COSTA DEL SOL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/costadelsol/costadelsol_01.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/costadelsol/costadelsol_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/costadelsol/costadelsol_03.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/costadelsol/costadelsol_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/costadelsol/costadelsol_04.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/costadelsol/costadelsol_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/costadelsol/costadelsol_02.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/costadelsol/costadelsol_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        Costa del Sol Wyndham Lima premieres new construction with contemporary and modern designs. It is strategically located, next to San Isidro District, close to shops, restaurants, and embassies. It has a spa service, outdoor pool, restaurant and casino.<br>

                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Basic Wi-Fi Service.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Welcome drink.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Business Center.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Use of the gym, jacuzzi, steam / dry sauna and pool.
                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. Salaverry 3060, Magdalena del Mar.</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="109">Single room rate US$ 109.00</option>
                                <option value="109">Double room rate US$ 109.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15604.85986729397!2d-77.055757!3d-12.097431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe24d9d86e59b8be4!2sHotel+Costa+del+Sol+Wyndham+Lima+City!5e0!3m2!1ses!2spe!4v1502470262004" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT13" class="demo-gap">
    <h2 class="tit-ciudad">LYZ HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/lyzhotel/liz_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/lyzhotel/liz_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/lyzhotel/liz_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/lyzhotel/liz_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/lyzhotel/liz_04.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/lyzhotel/liz_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/lyzhotel/liz_02.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/lyzhotel/liz_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">

                        Located in San Borja District, close to San Isidro business center. It is the perfect choice for travelers who need a simple but nice hotel to rest and do the work. No matter the length of your stay, you will enjoy the simple efficiency of what you need most in an hotel: location, comfort and service at the best price.<br>
                        The perfect mix of business and leisure travelers seeking comfort.<br>

                        <strong>Incluye:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Rates include buffet breakfast.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> WIFI


                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. Guardia Civil 609 Corpac, San Borja</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="109">Single room rate US$ 109.00</option>
                                <option value="121">Double room rate US$ 121.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.240476612942!2d-77.01283478460687!3d-12.09568289143465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b88e091ef517%3A0x3b58ded285bfbbe9!2sLYZ+Business+Hotel!5e0!3m2!1ses!2spe!4v1502470877470" width="100%" height="450" frameborder="0" style="border:0"  marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT12" class="demo-gap">
    <h2 class="tit-ciudad">HOTEL ESTELAR MIRAFLORES</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/estelarmiraflores/estelar_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/estelarmiraflores/estelar_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/estelarmiraflores/estelar_02.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/estelarmiraflores/estelar_pq-02.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/estelarmiraflores/estelar_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/estelarmiraflores/estelar_pq-03.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">

                        Located in the most exclusive place of the city, between ample and modern commercial zones in the district of Miraflores which is the most tourist of Lima. Large hotel with restaurants, bar, heated pool, sauna and gym.<br>
                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Buffet breakfast in the panoramic restaurant Piso 21.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Access to public areas: heated pool, sauna and gym.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> WiFi free.

                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. Benavides N° 415 – Miraflores</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="147">Single room rate US$ 147.00</option>
                                <option value="147">Double room rate US$ 147.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.817604342092!2d-77.0314046846066!3d-12.124628991415458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8193502010b%3A0xbe126cf9222f7b40!2sHotel+Estelar+Miraflores!5e0!3m2!1ses!2spe!4v1502470732101" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>


<div id="HT03" class="demo-gap">
    <h2 class="tit-ciudad">RAMADA ENCORE HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/ramada/ramada_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/ramada/r_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/ramada/ramada_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/ramada/r_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/ramada//ramada_04.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/ramada/r_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/ramada//ramada_04.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/ramada/r_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        It is located 20 minutes from the Headquarters of the Fair and 1 block from the Financial Center of San Isidro. The hotel have a very modern design, comfortable facilities and the special Ramada service.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> WIFI (in the room and in the public areas).<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Welcome drink.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Daily bottled water.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Coffee Maker in Room (Coffee, tea).<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Use of Gym and Pool.
                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. Javier Prado Este 390, San Isidro.</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="112">Single room rate US$ 112.00</option>
                                <option value="112">Double room rate US$ 112.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.164148329408!2d-77.0306108!3d-12.0922174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cf8a67c2d7cb49d!2sHotel+Ramada+Encore!5e0!3m2!1ses!2spe!4v1499983028632" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>
<div id="HT04" class="demo-gap">
    <h2 class="tit-ciudad">JW MARRIOTT</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-6 marg-img-01">
                    <a href="../img/hoteles/jwmariott/marriott_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/jwmariott/m_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-6 marg-img-01">
                    <a href="../img/hoteles/jwmariott/marriott_02.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/jwmariott/m_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        Located opposite the towering cliffs of the Miraflores district, and on front of the Larcomar Shopping & Entertainment Center. The hotel offers 300 rooms with a panoramic view of the Pacific Ocean, an spectacular view of the sea, its personalized service and its high-quality products, the Marriott hotel is one of the best option among Lima hotels. The hotel has exclusive shops, luxury restaurants, a Lounge Bar, a Health Club Spa and 24-hour room service for an unforgettable stay in Lima.<br>
                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Use of the Health Club
                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Malecón de la Reserva 615, Miraflores</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="227">Single room rate US$ 227.00</option>
                                <option value="245">Double room rate US$ 245.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                        <label for="">SOLD OUT</label>
                    </span>
                    <!-- <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15602.860463728686!2d-77.0293656!3d-12.1316342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x974f225c6f1c22e!2sJW+Marriott+Hotel+Lima!5e0!3m2!1ses!2spe!4v1499983837015" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>
<div id="HT05" class="demo-gap">
    <h2 class="tit-ciudad">COURTYARD LIMA</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/courtyard/courtyard.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/courtyard/c_pq-01.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        Located in the center of Miraflores, the tourist district, the hotel offers 154 guestrooms. Next to the hotel you will find nice restaurants, shopping malls and cultural sites.
                        Its restaurant Bistro 400 is the ideal destination to enjoy a superb breakfast, lunch, dinner and relax in the evening. In addition, the hotel has a business center, gym, Go Board screen, which allows access to the latest news, weather and airport conditions.<br>
                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Use of the gym.
                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Calle Schell N°400, Miraflores</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="141">Single room rate US$ 141.00</option>
                                <option value="153">Double room rate US$ 153.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                        <label for="">SOLD OUT</label>
                    </span>
                    <!-- <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.342490942428!2d-77.0277059!3d-12.123397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedbecb7262976c86!2sCourtyard+by+Marriott+Lima+Miraflores!5e0!3m2!1ses!2spe!4v1499983972227" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT06" class="demo-gap">
    <h2 class="tit-ciudad">COUNTRY CLUB</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/country/c_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/country/c_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/country/c_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/country/c_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">
                        Built in an historical building is located in the prestigious San Isidro district of Lima and surrounded by elegant embassies, and on front of the Golf Course. The Lima Country Club Hotel is a luxury and sophisticated hotel and is one of the few hotels recognized as a Cultural Heritage of Peru. Every detail has been conceived with luxury in mind; ornate chandeliers complement high ceilings with wooden beams and 300 original pieces of art - provided by the Pedro de Osma Museum - adorn the walls. Each of the 83 private guest rooms and deluxe suites are opulent and cozy, and many of them feature delicate marble bathrooms and relaxing jacuzzis. Enjoy first-class facilities, an award-winning restaurant as the best hotel restaurant for five consecutive years - SUMMUM Awards.ere of warmth and intimacy. The Country Club Lima Hotel invites discerning travelers to enjoy a warmth and intimate atmosphere and the best that Lima has to offer.<br>
                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Internet.

                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="208">Single room rate US$ 208.00</option>
                                <option value="233">Double room rate US$ 233.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15604.817368791371!2d-77.048715!3d-12.098159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe3bb867e7efe6c99!2sCountry+Club+Lima+Hotel!5e0!3m2!1ses!2spe!4v1500044544735" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT08" class="demo-gap">
    <h2 class="tit-ciudad">SONESTA</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/sonesta/sonesta_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/sonesta/sonesta_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/sonesta/sonesta_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/sonesta/sonesta_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/country/country_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/sonesta/sonesta_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">

                        Located in the most important financial and residential district of Lima, and having as its main sight the majestic El Olivar forest of San Isidro, Sonesta Hotel El Olivar Lima, is close to financial institutions and large corporations, as well as shopping centers, Restaurants, cafes and bars.<br>

                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> WIFI<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Pool.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Fitness center.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Welcome fruit punch.

                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">

                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="147">Single room rate US$ 147.00</option>
                                <option value="158">Double room rate US$ 158.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62419.44001326406!2d-77.08202168568309!3d-12.097428669871029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8b5c92035db%3A0xca73b19113cdaf2e!2sSonesta+Hotel+El+Olivar!5e0!3m2!1ses!2spe!4v1502470391941" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT09" class="demo-gap">
    <h2 class="tit-ciudad">JOSE ANTONIO DELUXE</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/joseantoniodeluxe/joseantoniodeluxe_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/joseantoniodeluxe/joseantoniodeluxe_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/joseantoniodeluxe/joseantoniodeluxe_02.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/joseantoniodeluxe/joseantoniodeluxe_pq-02.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/joseantoniodeluxe/joseantoniodeluxe_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/joseantoniodeluxe/joseantoniodeluxe_pq-03.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">

                        New hotel, well located in the heart of Miraflores District, with 166 rooms, all equipped with telephone (international direct dial), mini bar, digital safe, 40 "LCD TV with cable, air conditioning, heating, clock radio, anti-noise window system, anti-allergic pillows and duvet, Hairdryers; coffee maker; Iron and ironing board, Internet access. It has two restaurants, bar, business center; Swimming pool, outdoor terrace, gym; Massage service and two function rooms with a capacity of 200 to 400 people.<br>

                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Welcome drink.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Internet access 24 hours a day in the rooms.

                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Calle Bellavista 133 - Miraflores</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="145">Single room rate US$ 145.00</option>
                                <option value="167">Double room rate US$ 167.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8861616153026!2d-77.03400718460657!3d-12.11994079141862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8183d1ecf47%3A0xc0b0b44e5da65238!2sHotel+Jos%C3%A9+Antonio+%7C+Deluxe!5e0!3m2!1ses!2spe!4v1502470491446" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT10" class="demo-gap">
    <h2 class="tit-ciudad">JOSE ANTONIO</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/joseantonio/joseantonio_01.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/joseantonio/joseantonio_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/joseantonio/joseantonio_02.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/joseantonio/joseantonio_pq-02.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/joseantonio/joseantonio_03.jpg" data-lightbox="example-set">
                        <img class="img-responsive img-thumbnail" src="../img/hoteles/joseantonio/joseantonio_pq-03.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">

                        Well located in the heart of Miraflores District, with 84 rooms, all equipped with telephone (international direct dial), mini bar, safe, LCD TV cable, air conditioning, heating, clock radio, anti-noise windows, Internet connection. It has a restaurant, bar, business center and a meeting room for up to 200 people.<br>

                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Welcome drink.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Internet access 24 hours a day in the rooms.

                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Av. 28 de Julio 398 - Miraflores</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="123">Single room rate US$ 123.00</option>
                                <option value="145">Double room rate US$ 145.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7910368998982!2d-77.03316028460657!3d-12.126445291414276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81e8bc89093%3A0xffd938a4cdfe3a4f!2sHotel+Jos%C3%A9+Antonio!5e0!3m2!1ses!2spe!4v1502470592477" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT11" class="demo-gap">
    <h2 class="tit-ciudad">ANTARA HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
    <div class="container" style="padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-12 col-md-5 ht_mob">
                <div class="col-xs-12 col-md-12 marg-img-01">
                    <a href="../img/hoteles/antarahotel/antara_01.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/antarahotel/antara_pq-01.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-5 marg-img-03">
                    <a href="../img/hoteles/antarahotel/antara_03.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/antarahotel/antara_pq-03.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-7 marg-img-04">
                    <a href="../img/hoteles/antarahotel/antara_04.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/antarahotel/antara_pq-04.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-md-12 marg-img-02">
                    <a href="../img/hoteles/antarahotel/antara_02.jpg" data-lightbox="example-set">
                        <img class="../img-responsive img-thumbnail" src="../img/hoteles/antarahotel/antara_pq-02.jpg">
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-7">
                <div class="col-xs-12 col-md-12">
                    <span class="txt-desc-HT">

                        It is an small and exclusive hotel for executives located in the heart of Miraflores district, the new cultural and commercial center of the city of Lima. They have elegant and spacious suites equipped with the latest hotel technology.<br>                            
                        <strong>Includes:</strong><br>
                        <i class="fa fa-check" aria-hidden="true"></i> Breakfast buffet.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Welcome cocktail.<br>
                        <i class="fa fa-check" aria-hidden="true"></i> Free wireless internet in rooms and public areas.

                    </span>
                </div>
                <div class="col-xs-12 col-md-12" style="margin-top:20px;">
                    <span class="txt-desc-02">
                        <div class="form-group">
                            <strong>Address: Alcanfores 450 – Miraflores</strong>
                        </div>
                        <div class="form-group">
                            <label for="">Start date :</label>
                            <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Final date :&nbsp;</label>
                            <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
                            <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
                        </div>
                        <div class="form-group">
                            <label for="">Bedrooms :</label>
                            <select name="" id="" class="rooms epe-form-element epe-text-color">
                                <option value="135">Single room rate US$ 135.00</option>
                                <option value="157">Double room rate US$ 157.00</option>
                            </select>
                        </div>
                        <?php include('transfers.html') ?>
                    </span>
                    <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.82707891486!2d-77.03020108460672!3d-12.12398119141587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8195a117145%3A0xae5fe27a1500135f!2sAntara+Hotel!5e0!3m2!1ses!2spe!4v1502470683940" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
    </div>
</div>

<div id="HT14" class="demo-gap">
  <h2 class="tit-ciudad">ROYAL PARK HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/royal/royal_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/royal/royal_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/royal/royal_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/royal/royal_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Located in the elegant district of San Isidro, it reflects in its design the taste of Peruvians for European art with many references to pre-Columbian Peru, achieving a very refined eclectic style. <br>
            The hotel has 75 rooms including 3 suites, decorated in relaxing cappuccino and white tones, which will give you a sophisticated and relaxing atmosphere; 1 conference room and 4 boardrooms, where the professionalism of our staff and our exquisite and varied gastronomic menu will make your corporate or social events a success, we also have a gym, swimming pool, and the restaurant Le Moliere of Peruvian fusion food. <br> Close to the hotel you can visit renowned restaurants, trendy bars, boutiques, art galleries, antique shops and a convenient 3.7 km jogging route located around the golf course of San Isidro. <br>
            <strong>It includes:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Continental breakfast.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Welcome drink.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Continental breakfast.<br>
            <i class="fa fa-check" aria-hidden="true"></i> WIFI service.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Parking lot. <br>
            <i class="fa fa-check" aria-hidden="true"></i> Use of the business center. <br>
            <i class="fa fa-check" aria-hidden="true"></i> Access to the swimming pool, sauna and gym. <br>

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Address: Av. Camino Real 1050, San Isidro.</strong>
            </div>
            <div class="form-group">
              <label for="">Start date :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Final date :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Bedrooms :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="214">Single room rate US $ 214.00</option>
                <option value="238">Double room rate US $ 238.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.2787117667649!2d-77.0394643!3d-12.1042895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c84135bb3015%3A0x3bd9ab58f639e0d2!2sHotel+Boutique+Royal+Park+Hotel+Lima+-+Per%C3%BA!5e0!3m2!1ses!2spe!4v1503502980457" width="100%" height="450" frameborder="0" style="border:0"  marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT15" class="demo-gap">
  <h2 class="tit-ciudad">SOL DE ORO</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/sol/sol_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/sol/sol_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/sol/sol_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/sol/sol_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            It is a five star hotel renowned for its high quality of service. Sol de Oro Hotel & Suites is located in the tourist heart of the Miraflores district, just 5 minutes from the Larcomar shopping center; easy access to the financial center of San Isidro and Jorge Chavez International Airport.<br> The best option to enjoy your stay in Lima.<br>
            <strong>Includes:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Buffet breakfast served in the Murano restaurant.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Access to the hotel gym and swimming pool.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Internet in the room and public areas of the Hotel.<br>

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Address: Calle San Martin 305,  Miraflores.</strong>
            </div>
            <div class="form-group">
              <label for="">Start date :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Final date :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Bedrooms :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="140">Single room rate US $ 140.00</option>
                <option value="159">Double room rate US $ 159.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.239268336458!2d-77.0313455!3d-12.1251614!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bb64d04ff3e5a0a!2sSol+de+Oro+Hotel+%26+Suites!5e0!3m2!1ses!2spe!4v1507233084660" width="100%" height="450" frameborder="0" style="border:0"  marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>
