<div class="tit_serv">
                    <h2 class="tit-ciudad" style="color: #FFFFFF;"><i class="fa fa-suitcase" aria-hidden="true"></i> PACKAGES</h2>
                </div>
<div class="demo-gap">
	<h2 class="tit-ciudad">CUSCO</h2>
</div>
<div id="TOUR01" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../img/paquetes/cusco01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">BASIC CUSCO</h2>
				<h3 class="txt-subTIT"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NIGHTS</h3>
				<br>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Transfer airport/hotel/airport.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 nights’ accommodation in Cusco (02 breakfasts).<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Machu Picchu tour in Expedition train service (lunch included).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transport, entrances and guided tours (Spanish/English).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Price per person</span>
				<br>
				<span class="txt-precio">$ 459.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR02" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">CLASSIC CUSCO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NIGHTS</h3>
				<br>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Transfer airport/hotel/airport.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 nights’ accommodation in Cusco (02 breakfasts).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD City Tour Cusco & Archaeological Park of Sacsayhuaman.<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Machu Picchu tour in Expedition train service (lunch included).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transport, entrances and guided tours (Spanish/English).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 522.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR03" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">IMPERIAL CUSCO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 04DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 03NIGHTS</h3>
				<br>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Transfer airport/hotel/airport.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 nights’ accommodation in Cusco (02 breakfasts).<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 night accommodation in Sacred Valley (01 breakfast).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD City Tour Cusco & Archaeological Park of Sacsayhuaman.<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Sacred Valley of the Incas (lunch included).<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Machu Picchu tour in Expedition train service (lunch included).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transport, entrances and guided tour (Spanish/English).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 652.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">LIMA</h2>
</div>
<div id="TOUR04" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../img/paquetes/lima01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">CULINARY TOUR WITH LUNCH</h2>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> This gastronomic adventure starts in a typical “Peruvian market”. There, you can appreciate the large variety of local products and enjoy some unique fruits like chirimoya, lucuma, aguaymanto and the pacae.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Continue visiting an exclusive Peruvian restaurant, where you can prepare your own “Pisco Sour” and the famous “Ceviche” (a well-known dish prepared with fish marinated in lemon juice and seasoned with local herbs and spices). This will be followed by a delicious lunch that will include dishes representing the typical Peruvian cuisine/gastronomy.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duration: 4 hrs aprox.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio">$ 90.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR05" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">CITY TOUR – COLONIAL & MODERN LIMA</h2>
				<span class="txt-desc-02">

					<i class="fa fa-check" aria-hidden="true"></i> Visit the most important sites of Lima and wrap yourself in its charm and tradition.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Visit the impressive historical center and pass by the Main Square, The Government Palace, City Hall, The Archbishop’s Palace and the Cathedral.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Visit San Francisco Convent that  displays the largest monumental group of Colonial Art found in America. Here you will find the subterranean crypts known as "the catacombs" or “catacumbas”.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Finally, continue to the exclusive districts of San Isidro and Miraflores, from where you’ll enjoy an excellent view of the Pacific Ocean.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duration: 3 ½ hours.

				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 40.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR06" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">LIMA BY NIGHT</h2>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Enjoy the city of Lima illuminated by lights and observe the  fantastic colonial architecture. This excursion shows Lima’s impressive Historical Center in detail and its most significant attractions such as San Martin Square, the Government Palace, City Hall, the Archbishop’s Palace, and the Cathedral, among others.
					Be captivated by the largest compound of electronic fountains in the world Certified by Guinnes World Records; enjoy the Magic Water Circuit of Lima, a fantastic place with impressive fountains that combine movement, lights, sounds and images.<br>									
					<i class="fa fa-check" aria-hidden="true"></i> Duration: 	3 ½ hrs aprox.

				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 44.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR07" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">PACHACAMAC SANCTUARY</h2>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Visit the Pachacamac Citadel, the sanctuary of The Pachacamac God.<br>
					<i class="fa fa-check" aria-hidden="true"></i> The citadel includes the temples, pyramids and palaces.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duration: 3 ½ hours.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Departures: tuesday to sunday
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 49.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR08" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">GOLD MUSEUM</h2>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Appreciate a display of Peru’s finest gold and silver  objects from the ancient times. This private collection contains a display of pre-Hispanic gold, Paracas textiles and ceramics. There´s also an excellent bookshop and a large display of military objects. The Gold Museum holds the most important pieces in gold and silver from several ancient cultures.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duration: 3 hours
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 56.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR09" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">LARCO MUSEUM</h2>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Discover the amazing treasures of ancient Peru in an unforgettable visit to the Larco Museum that exhibit remarkable chronologic galleries with an excellent overview on 3000 years of progress in Peruvian  history.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Located in a unique royal mansion built in the 18th, surrounded by beautiful gardens. The museum features the finest gold and silver collection from Ancient Peru and a famous erotic archaeological collection.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duration: 3 hrs aprox.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Departs: Thursdays to Sundays (Mondays closed).



				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 45.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">ICA PARACAS</h2>
</div>
<div id="TOUR10" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../img/paquetes/ica01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">HUACACHINA LAGOON & NAZCA LINES FULL DAY</h2>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Trasfers from/to the hotel.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transfer in tourist bus Lima/Ica/Lima.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Snack at the bus.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Overflight to Nazca Lines (from Ica).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Lunch in local restaurant.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guided tour in regular service (Spanish or English).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Price per person</span>
				<br>
				<span class="txt-precio">$ 355.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR11" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-top:25px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">PARACAS NAZCA LINES</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 02DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 01NIGHT</h3>
				<span class="txt-desc-02">                    
					<i class="fa fa-check" aria-hidden="true"></i> Transfer from/to the hotel.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Tourist Bus Lima/Paracas/Lima.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 night accommodation in Paracas (01 breakfast).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Overflight to Nazca Lines (from Pisco).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Ballestas Island Maritime tour.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guided tour in regular service (Spanish or English).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 542.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR12" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">PARACAS, ICA & NAZCA LINES</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NIGHT</h3>
				<span class="txt-desc-02">    
					<i class="fa fa-check" aria-hidden="true"></i> Transfer from/to the hotel.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Tourist Bus Lima/Paracas/Lima.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 nights’ accommodation in Paracas (02 breakfasts).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Overflight to Nazca Lines (from Pisco).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD City Tour Ica & Sandboarding.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Ballestas Island tour.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guided tour in regular service (Spanish or English).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 747.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">TRUJILLO Y CHICLAYO</h2>
</div>
<div id="TOUR13" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../img/paquetes/trujillo01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">TRUJILLO AND CHICLAYO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NIGHT</h3>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Transfer airport/hotel/airport in Trujillo & Chiclayo.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 night accommodation in Trujillo (01 breakfast).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD Chan Chan Archaeological Site & Huanchaco.<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD Witch Archaeological Complex & Cao Museum.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Regular bus Trujillo/Chiclayo.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 night accommodation in Chiclayo (01 breakfast).<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Tucume, Royal Tombs of Sipan.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transport, entrances and guided tour (spanish/english).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Price per person</span>
				<br>
				<span class="txt-precio">$ 350.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">PUERTO MALDONADO AND IQUITOS</h2>
</div>
<div id="TOUR14" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../img/paquetes/iquitos01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">PUERTO MALDONADO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NIGHT</h3>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> 02 night´s accommodation at Hacienda Concepción.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 Breakfast, 02 Lunches, 02 Dinners.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transfers from the airport in Puerto Maldonado.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Bilingual local guides accompanying the passenger during all the program.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Price per person</span>
				<br>
				<span class="txt-precio">$ 415.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR015" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">IQUITOS – CEIBA TOPS</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DAYS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NIGHT</h3>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Transfers airport/lodge/airport.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 nights accommodation at Ceiba Tops.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 breakfasts, 03 lunches, 02 dinners.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Services includes transport, entrances and guided tours in regular services(English or Spanish).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Price per person</span>
				<br>
				<span class="txt-precio-02">$ 440.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> BOOK NOW
				</button>
			</div>
		</div>
	</div>
</div>