<div class="form-group">
    <label for="">Transfers :</label>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="37" checked> Arrival Transfer USD 37.00
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="37"> Departure Transfer USD 37.00
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="70"> Arrival and Departure Transfer USD 70.00
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="0"> I don't require transfer USD 00.00
        </label>
    </div>
</div>
<div class="form-group prices">
    <label for="">Total Price:</label>
    <strong> ??.?? </strong>
</div>
<input type="hidden" class="diffDays">
<input type="hidden" name="pre_request">
