<div class="tit_serv">
  <h2 class="tit-ciudad" style="color: #FFFFFF;"><i class="fa fa-h-square" aria-hidden="true"></i> HOTELES</h2>
</div>
<div id="HT01" class="demo-gap">
  <h2 class="tit-ciudad">HOTEL MELIA LIMA</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/melia/melia_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/melia/m_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/melia/melia_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/melia/m_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/melia/melia_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/melia/m_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/melia/melia_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/melia/m_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Situado en San Isidro, el distrito financiero más importante de la ciudad, junto al centro comercial Real Plaza Salaverry y muy cerca del centro histórico, Miraflores y el Aeropuerto Internacional de Perú (Jorge Chávez), Meliá Lima es una de las mejores opciones para alojarse y descubrir la capital peruana, gracias a su estratégica localización, a sus completas y confortables instalaciones y a la calidad de sus servicios.
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Salaverry 2599, San Isidro..</strong><br>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <!-- maxlength="0" : para no escribir numeros ni letras en la caja date-->
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" id="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0" value="21/08/2017">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" id="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0" value="23/08/2017">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="139.00">Tarifa habitación simple US$ 139.00</option>
                <option value="161.00">Tarifa habitación doble US$ 161.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>                           
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.134003800667!2d-77.05274!3d-12.092734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8438774b40de86e!2sMeli%C3%A1+Lima!5e0!3m2!1ses!2spe!4v1499979827786" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>
<div id="HT02" class="demo-gap">
  <h2 class="tit-ciudad">BUSINESS TOWER HOTEL - BTH</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/business/business_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/business/business_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/business/business_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/business/business_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/business/business_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/business/business_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/business/business_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/business/business_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Un moderno hotel que reúne las últimas tendencias de arte, moda y diseño; sorprendiendo a sus clientes con experiencias y entretenimiento. BTH Hotel se encuentra entre 45 min. ó 60 min. del aeropuerto y a 5 min de la zona empresarial, cuenta con un innovadora flota de servicio remisse MINI Countryman, personalizada al estilo BTH. Descubre y sé parte del mundo orgánico, pasea por los pisos temáticos, la galería, disfruta del restaurante gourmet, la terraza y la coctelería boutique.
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Guardia Civil 727 Corpac, San Borja.</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="99">Tarifa habitación simple US$ 99.00</option>
                <option value="109">Tarifa habitación doble US$ 109.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15604.870701674037!2d-77.0113505!3d-12.0972454!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x41eeeca74ce91183!2sBTH+Hotel+%7C+Boutique+Concept!5e0!3m2!1ses!2spe!4v1499979874824" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT07" class="demo-gap">
  <h2 class="tit-ciudad">COSTA DEL SOL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/costadelsol/costadelsol_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/costadelsol/costadelsol_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/costadelsol/costadelsol_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/costadelsol/costadelsol_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/costadelsol/costadelsol_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/costadelsol/costadelsol_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/costadelsol/costadelsol_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/costadelsol/costadelsol_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">

            Costa del Sol Wyndham Lima estrena nueva construcción con diseños contemporáneos y modernos. Está estratégicamente situado, cerca de tiendas, comercios, restaurantes y embajadas. Cuenta con servicio de spa, WiFi gratuito, piscina exterior, restaurante y casino.<br>

            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet<br>
            <i class="fa fa-check" aria-hidden="true"></i> Servicio Wi Fi básico<br>
            <i class="fa fa-check" aria-hidden="true"></i> Bebida de bienvenida<br>
            <i class="fa fa-check" aria-hidden="true"></i> Business Center<br>
            <i class="fa fa-check" aria-hidden="true"></i> Uso del gimnasio, jacuzzi, sauna vapor/seca y piscina.

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Salaverry 3060, Magdalena del Mar.</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="109">Tarifa habitación simple US$ 109.00</option>
                <option value="109">Tarifa habitación doble US$ 109.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15604.85986729397!2d-77.055757!3d-12.097431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe24d9d86e59b8be4!2sHotel+Costa+del+Sol+Wyndham+Lima+City!5e0!3m2!1ses!2spe!4v1502470262004" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>


<div id="HT13" class="demo-gap">
  <h2 class="tit-ciudad">LYZ HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/lyzhotel/liz_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/lyzhotel/liz_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/lyzhotel/liz_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/lyzhotel/liz_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/lyzhotel/liz_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/lyzhotel/liz_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/lyzhotel/liz_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/lyzhotel/liz_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">

            Es la elección perfecta para los viajeros que necesitan un hotel sencillo pero agradable para descansar y hacer el trabajo. No importa la duración de su estancia, disfrutará de la eficacia simple de las cosas que más necesita en un hotel: ubicación, confort y servicio al mejor precio.<br> 
            La mezcla perfecta de negocios y ocio para el viajero que busca comodidad.<br>

            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Las tarifas incluyen el desayuno buffet.<br>
            <i class="fa fa-check" aria-hidden="true"></i> WIFI<br>
            <i class="fa fa-check" aria-hidden="true"></i> Check In: 15:00 hr.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Check Out: 12:00 hr.

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Guardia Civil 609 Corpac, San Borja</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="109">Tarifa habitación simple US$ 109.00</option>
                <option value="121">Tarifa habitación doble US$ 121.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.240476612942!2d-77.01283478460687!3d-12.09568289143465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105b88e091ef517%3A0x3b58ded285bfbbe9!2sLYZ+Business+Hotel!5e0!3m2!1ses!2spe!4v1502470877470" width="100%" height="450" frameborder="0" style="border:0"  marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT12" class="demo-gap">
  <h2 class="tit-ciudad">HOTEL ESTELAR MIRAFLORES</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/estelarmiraflores/estelar_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/estelarmiraflores/estelar_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/estelarmiraflores/estelar_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/estelarmiraflores/estelar_pq-02.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/estelarmiraflores/estelar_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/estelarmiraflores/estelar_pq-03.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">

            Ubicado en el lugar más exclusivo de la ciudad, entre amplias y modernas zonas comerciales en el distrito de Miraflores el cual es el más turístico de Lima.<br>
            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet en el restaurante panorámico Piso 21.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Acceso a áreas públicas: piscina temperada, sauna y gimnasio.<br>
            <i class="fa fa-check" aria-hidden="true"></i> WiFi sin costo.

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Benavides N° 415 – Miraflores</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="147">Tarifa habitación simple US$ 147.00</option>
                <option value="147">Tarifa habitación doble US$ 147.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.817604342092!2d-77.0314046846066!3d-12.124628991415458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8193502010b%3A0xbe126cf9222f7b40!2sHotel+Estelar+Miraflores!5e0!3m2!1ses!2spe!4v1502470732101" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>




<div id="HT03" class="demo-gap">
  <h2 class="tit-ciudad">RAMADA ENCORE HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/ramada/ramada_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/ramada/r_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/ramada/ramada_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/ramada/r_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/ramada//ramada_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/ramada/r_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/ramada//ramada_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/ramada/r_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Esta ubicado a 20 minutos de la Sede de la Feria y a 1 cuadra del Centro Financiero de San Isidro.<br>
            Nuestras tarifas incluyen:<br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno Buffet.<br>
            <i class="fa fa-check" aria-hidden="true"></i> WIFI ( en la habitación y en las áreas públicas).<br>
            <i class="fa fa-check" aria-hidden="true"></i> Welcome Drink.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Agua embotellada diaria.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Coffee Kit en la habitación ( Café, infusiones).<br>
            <i class="fa fa-check" aria-hidden="true"></i> Uso de Gimnasio y Piscina.
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Javier Prado Este 390, San Isidro.</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="112">Tarifa habitación simple US$ 112.00</option>
                <option value="112">Tarifa habitación doble US$ 112.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15605.164148329408!2d-77.0306108!3d-12.0922174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1cf8a67c2d7cb49d!2sHotel+Ramada+Encore!5e0!3m2!1ses!2spe!4v1499983028632" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT04" class="demo-gap">
  <h2 class="tit-ciudad">JW MARRIOTT</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-6 marg-img-01">
          <a href="/img/hoteles/jwmariott/marriott_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/jwmariott/m_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-6 marg-img-01">
          <a href="/img/hoteles/jwmariott/marriott_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/jwmariott/m_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Situado frente a los imponentes acantilados del distrito de Miraflores, el JW Marriott Hotel Lima ofrece 300 habitaciones con una vista panorámica del Océano Pacífico. Gracias a su privilegiada ubicación, la vista espectacular al mar, su servicio personalizado y sus productos de alta calidad, el hotel Marriott se convierte en la mejor opción entre los hoteles de Lima. Frente al hotel se encuentra el conocido Centro Comercial Larcomar, donde la vista panorámica del litoral limeño se mezcla con la arquitectura futurista. Además, el hotel cuenta con tiendas exclusivas, restaurantes de lujo, un Lounge Bar, un Health Club Spa y servicio de habitación las 24 horas para una estancia en Lima inolvidable.
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Malecón de la Reserva 615, Miraflores</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="227">Tarifa habitación simple US$ 227.00</option>
                <option value="245">Tarifa habitación doble US$ 245.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
              <label for="">AGOTADO</label>
          </span>
          <!-- <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15602.860463728686!2d-77.0293656!3d-12.1316342!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x974f225c6f1c22e!2sJW+Marriott+Hotel+Lima!5e0!3m2!1ses!2spe!4v1499983837015" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>
<div id="HT05" class="demo-gap">
  <h2 class="tit-ciudad">COURTYARD LIMA</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/courtyard/courtyard.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/courtyard/c_pq-01.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            El hotel Courtyard Lima Miraflores ofrece 154 habitaciones. A unas cuadras del hotel, se podrá encontrar centros comerciales, culturales y restaurantes Miraflorinos.<br>
            Su restaurante Bistro 400 es el destino ideal para disfrutar de un magnifico desayuno, almuerzo, cena y relajarse por la noche. Asimismo, el hotel cuenta con un business center, gimnasio, pantalla Go Board, la cual permite acceso a las ultimas noticias, al estado del tiempo y a las condiciones del aeropuerto.

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Calle Schell N°400, Miraflores</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="141">Tarifa habitación simple US$ 141.00</option>
                <option value="153">Tarifa habitación doble US$ 153.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
            <label for="">AGOTADO</label>
          </span>
          <!-- <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.342490942428!2d-77.0277059!3d-12.123397!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedbecb7262976c86!2sCourtyard+by+Marriott+Lima+Miraflores!5e0!3m2!1ses!2spe!4v1499983972227" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT06" class="demo-gap">
  <h2 class="tit-ciudad">COUNTRY CLUB</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/country/c_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/country/c_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/country/c_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/country/c_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Ubicado en el prestigioso distrito de San Isidro en Lima y rodeado de elegantes embajadas, el Country Club Lima Hotel es un hotel de lujo que personifica la sofisticación y uno de los pocos hoteles reconocidos como Patrimonio Cultural del Perú. Cada detalle ha sido concebido con el lujo en mente; candelabros adornados complementan unos techos altos con vigas de madera y 300 piezas de arte originales - cedidas por el Museo Pedro de Osma - adornan las paredes. Cada una de las 83 privadas habitaciones y suites de lujo son opulentas y acogedoras, y muchas de ellas disponen de delicados baños de mármol y relajantes jacuzzis. Disfrute de unas instalaciones de primera clase, de un restaurante premiado   como el mejor restaurante de hotel por cinco años consecutivos - Premios SUMMUM y poder disfrutar del exclusivo Lima Golf Club, todo en un ambiente de calidez e intimidad. El Country Club Lima Hotel invita al viajero de gustos exigentes a disfrutar de lo mejor que Lima tiene para ofrecer.
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="208">Tarifa habitación simple US$ 208.00</option>
                <option value="233">Tarifa habitación doble US$ 233.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15604.817368791371!2d-77.048715!3d-12.098159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe3bb867e7efe6c99!2sCountry+Club+Lima+Hotel!5e0!3m2!1ses!2spe!4v1500044544735" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>



<div id="HT08" class="demo-gap">
  <h2 class="tit-ciudad">SONESTA</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/sonesta/sonesta_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sonesta/sonesta_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sonesta/sonesta_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sonesta/sonesta_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/country/country_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sonesta/sonesta_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">

            Situado en el más importante distrito financiero y residencial de Lima, y teniendo como principal vista al majestuoso bosque “El Olivar” de San Isidro, Sonesta Hotel El Olivar Lima, se encuentra cerca de instituciones financieras y grandes corporaciones, así como de centros comerciales, restaurantes, cafés y bares.<br>

            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet<br>
            <i class="fa fa-check" aria-hidden="true"></i> WIFI<br>
            <i class="fa fa-check" aria-hidden="true"></i> Piscina<br>
            <i class="fa fa-check" aria-hidden="true"></i> Gimnasio<br>
            <i class="fa fa-check" aria-hidden="true"></i> Fruit punch de bienvenida

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">

            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="147">Tarifa habitación simple US$ 147.00</option>
                <option value="158">Tarifa habitación doble US$ 158.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62419.44001326406!2d-77.08202168568309!3d-12.097428669871029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8b5c92035db%3A0xca73b19113cdaf2e!2sSonesta+Hotel+El+Olivar!5e0!3m2!1ses!2spe!4v1502470391941" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT09" class="demo-gap">
  <h2 class="tit-ciudad">JOSE ANTONIO DELUXE</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/joseantoniodeluxe/joseantoniodeluxe_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/joseantoniodeluxe/joseantoniodeluxe_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/joseantoniodeluxe/joseantoniodeluxe_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/joseantoniodeluxe/joseantoniodeluxe_pq-02.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/joseantoniodeluxe/joseantoniodeluxe_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/joseantoniodeluxe/joseantoniodeluxe_pq-03.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">

            Cuenta con 166 habitaciones, todas debidamente equipadas con teléfono (discado directo internacional), mini bar, caja de seguridad digital, TV LCD 40” con cable, aire acondicionado, calefacción, radio reloj, sistema de ventanas anti ruidos, almohadas y duvet antialérgicos, secadora de cabello, coffee maker; plancha y tabla de plancha, conexión a Internet. Cuenta con dos restaurantes, bar, business center; piscina, terraza al aire libre, gimnasio; servicio de masajes y con dos salas de eventos con capacidad de 200 a 400 personas.<br>

            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet<br>
            <i class="fa fa-check" aria-hidden="true"></i> Welcome drink<br>
            <i class="fa fa-check" aria-hidden="true"></i> Acceso a internet las 24 horas del día en las habitaciones.

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Calle Bellavista 133 - Miraflores</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="145">Tarifa habitación simple US$ 145.00</option>
                <option value="167">Tarifa habitación doble US$ 167.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.8861616153026!2d-77.03400718460657!3d-12.11994079141862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8183d1ecf47%3A0xc0b0b44e5da65238!2sHotel+Jos%C3%A9+Antonio+%7C+Deluxe!5e0!3m2!1ses!2spe!4v1502470491446" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT10" class="demo-gap">
  <h2 class="tit-ciudad">JOSE ANTONIO</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/joseantonio/joseantonio_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/joseantonio/joseantonio_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/joseantonio/joseantonio_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/joseantonio/joseantonio_pq-02.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/joseantonio/joseantonio_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/joseantonio/joseantonio_pq-03.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">												
            Cuenta con 84 habitaciones, todas debidamente equipadas con teléfono (discado directo internacional), mini bar, caja de seguridad, TV LCD cable, aire acondicionado, calefacción, radio reloj, ventanas anti ruidos, conexión Internet. Cuenta con un restaurante, bar, business center y un salón de eventos con capacidad para 200 personas.<br>

            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet<br>
            <i class="fa fa-check" aria-hidden="true"></i> Welcome drink<br>
            <i class="fa fa-check" aria-hidden="true"></i> Acceso a internet las 24 horas del día en las habitaciones.  
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. 28 de Julio 398 - Miraflores</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="123">Tarifa habitación simple US$ 123.00</option>
                <option value="145">Tarifa habitación doble US$ 145.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7910368998982!2d-77.03316028460657!3d-12.126445291414276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c81e8bc89093%3A0xffd938a4cdfe3a4f!2sHotel+Jos%C3%A9+Antonio!5e0!3m2!1ses!2spe!4v1502470592477" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT11" class="demo-gap">
  <h2 class="tit-ciudad">ANTARA HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/antarahotel/antara_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/antarahotel/antara_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/antarahotel/antara_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/antarahotel/antara_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/antarahotel/antara_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/antarahotel/antara_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/antarahotel/antara_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/antarahotel/antara_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">												
            Es un exclusivo hotel para ejecutivos ubicado en el distrito de Miraflores, el nuevo centro cultural y comercial de la ciudad de Lima. Cuentan con elegantes y espaciosas suites equipadas con la última tecnología hotelera.<br>                            
            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet<br>
            <i class="fa fa-check" aria-hidden="true"></i> Cocktail de bienvenida<br>
            <i class="fa fa-check" aria-hidden="true"></i> Internet inalámbrico free en las habitaciones y áreas públicas.  
          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Alcanfores 450 – Miraflores</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="135">Tarifa habitación simple US$ 135.00</option>
                <option value="157">Tarifa habitación doble US$ 157.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.82707891486!2d-77.03020108460672!3d-12.12398119141587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8195a117145%3A0xae5fe27a1500135f!2sAntara+Hotel!5e0!3m2!1ses!2spe!4v1502470683940" width="100%" height="450" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<div id="HT14" class="demo-gap">
  <h2 class="tit-ciudad">ROYAL PARK HOTEL</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/royal/royal_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/royal/royal_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/royal/royal_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/royal/royal_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/royal/royal_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Ubicado en el elegante distrito de San Isidro, refleja en su diseño el gusto de los peruanos por el arte europeo con muchas referencias al Perú precolombino, logrando un estilo ecléctico muy refinado. <br>
            El hotel cuenta con 75 habitaciones incluidas 3 suites, decoradas en relajantes tonos cappuccino y blanco, que le brindaran un ambiente sofisticado y de relax; 1 sala de conferencias y 4 salones directorios, donde el profesionalismo de nuestro personal y nuestra exquisita y variada carta gastronómica hará que sus eventos corporativos o sociales sean un éxito, además contamos con gimnasio, piscina, y el restaurante Le Moliere de comida peruana fusión. <br> Muy cerca del hotel podrá visitar reconocidos restaurantes, bares de moda, boutiques, galerías de arte, anticuarios y una conveniente ruta de jogging de aproximadamente 3.7 km ubicada alrededor del golf de San Isidro. <br>
            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno Continental.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Welcome drink.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno Continental.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Servicio de WiFi.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Estacionamiento <br>
            <i class="fa fa-check" aria-hidden="true"></i> Uso del business center. <br>
            <i class="fa fa-check" aria-hidden="true"></i> Acceso a la piscina, sauna y gimnasio. <br>

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Av. Camino Real 1050, San Isidro.</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="214">Tarifa habitación simple US$ 214.00</option>
                <option value="238">Tarifa habitación doble US$ 238.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d975.2787117667649!2d-77.0394643!3d-12.1042895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c84135bb3015%3A0x3bd9ab58f639e0d2!2sHotel+Boutique+Royal+Park+Hotel+Lima+-+Per%C3%BA!5e0!3m2!1ses!2spe!4v1503502980457" width="100%" height="450" frameborder="0" style="border:0"  marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>

<!-- solde horo -->

<div id="HT15" class="demo-gap">
  <h2 class="tit-ciudad">SOL DE ORO</h2>
</div>
<div class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-bottom:0px;">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-xs-12 col-md-5 ht_mob">
        <div class="col-xs-12 col-md-12 marg-img-01">
          <a href="/img/hoteles/sol/sol_01.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-01.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-5 marg-img-03">
          <a href="/img/hoteles/sol/sol_03.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-03.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 marg-img-04">
          <a href="/img/hoteles/sol/sol_04.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-04.jpg">
          </a>
        </div>
        <div class="col-xs-12 col-md-12 marg-img-02">
          <a href="/img/hoteles/sol/sol_02.jpg" data-lightbox="example-set">
            <img class="img-responsive img-thumbnail" src="/img/hoteles/sol/sol_pq-02.jpg">
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="col-xs-12 col-md-12">
          <span class="txt-desc-HT">
            Es un hotel cinco estrellas reconocido por su alta calidad de servicio. Sol de Oro Hotel & Suites se encuentra ubicado en el corazón turístico del distrito de Miraflores, a solo 5 minutos del centro comercial Larcomar; de fácil acceso al centro financiero de San Isidro y del aeropuerto internacional Jorge Chávez. La mejor opción para disfrutar de su estadía el Lima.<br>
            <strong>Incluye:</strong><br>
            <i class="fa fa-check" aria-hidden="true"></i> Desayuno buffet servido en el restaurante Murano.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Acceso al gym y piscina del hotel.<br>
            <i class="fa fa-check" aria-hidden="true"></i> Internet en la habitación y áreas públicas del Hotel.<br>

          </span>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-top:20px;">
          <span class="txt-desc-02">
            <div class="form-group">
              <strong>Dirección: Calle San Martin 305,  Miraflores.</strong>
            </div>
            <div class="form-group">
              <label for="">Fecha de Inicio :</label>
              <input placeholder="dd/mm/aa" title="Fecha Inicio" type="text" name="departureDate" class="departureDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="departureDate1" id="departureDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Fecha de Final :&nbsp;</label>
              <input placeholder="dd/mm/aa" title="Fecha Salida" type="text" name="returnDate" class="returnDate epe-form-element epe-text epe-calendar epe-text-color" maxlength="0">
              <input type="hidden" name="returnDate1" id="returnDate1" class="timeValue">
            </div>
            <div class="form-group">
              <label for="">Habitaciones :</label>
              <select name="" id="" class="rooms epe-form-element epe-text-color">
                <option value="140">Tarifa habitación simple US$ 140.00</option>
                <option value="159">Tarifa habitación doble US$ 159.00</option>
              </select>
            </div>
            <?php include('transfers.html') ?>
          </span>
          <button type="button" class="btn btn-primary btn-lg hotel" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15603.239268336458!2d-77.0313455!3d-12.1251614!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bb64d04ff3e5a0a!2sSol+de+Oro+Hotel+%26+Suites!5e0!3m2!1ses!2spe!4v1507233084660" width="100%" height="450" frameborder="0" style="border:0"  marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>
</div>
