<!-- -->
<div class="tit_serv">
	<h2 class="tit-ciudad" style="color: #FFFFFF;"><i class="fa fa-suitcase" aria-hidden="true"></i> PAQUETES</h2>
</div>
<!-- -->
<!-- -->
<div class="demo-gap">
	<h2 class="tit-ciudad">CUSCO</h2>
</div>
<div id="TOUR01" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(img/paquetes/cusco01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">CUSCO CON MACHU PICCHU</h2>
				<h3 class="txt-subTIT"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NOCHES</h3>
				<br>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Traslado aeropuerto/hotel/aeropuerto.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 2 noches de alojamiento en Cusco (02 desayunos).<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Machu Picchu en servicio compartido y tren Expedition (almuerzo incluido).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte, entradas y guiado en servicio regular.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio">$ 459.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR02" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">CUSCO CON MACHU PICCHU CITY</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NOCHES</h3>
				<br>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Traslado aeropuerto/hotel/aeropuerto.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 2 noches de alojamiento en Cusco (02 desayunos).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD City Tour Cusco & Parque Arqueológico de Sacsayhuaman.<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Machu Picchu en servicio compartido y tren Expedition (almuerzo incluido).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte, entradas y guiado en servicio regular.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 522.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR03" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">CUSCO COMPLETO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 04DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 03NOCHES</h3>
				<br>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Traslado aeropuerto/hotel/aeropuerto.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 2 noches de alojamiento en Cusco (02 desayunos).<br>
					<i class="fa fa-check" aria-hidden="true"></i> 1 noche de alojamiento en Valle Sagrado (01desayuno)<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD City Tour Cusco & Parque Arqueológico de Sacsayhuaman.<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Valle Sagrado de los Incas (almuerzo incluido).<br>
					<i class="fa fa-check" aria-hidden="true"></i> FD Machu Picchu en servicio compartido y tren Expedition (almuerzo incluido).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte, entradas y guiado en servicio regular.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 652.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">LIMA</h2>
</div>
<div id="TOUR04" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(img/paquetes/lima01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">LIMA EXPERIENCIA GASTRONÓMICA</h2>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Transporte<br>
					<i class="fa fa-check" aria-hidden="true"></i> Visita a un típico mercado modelo peruano.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Visita a un restaurante exclusivo donde se preparará Pisco Sour y Ceviche.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Almuerzo incluido.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duración: 4 horas.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio">$ 90.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR05" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">LIMA CITY TOUR</h2>
				<span class="txt-desc-02">
					Nuestro tour presenta Lima en sus 3 periodos históricos.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Ingreso al Museo BCR, Complejo Monumental San Francisco y su Catacumbas.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guía turístico en inglés o español.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte desde hoteles en Lima y Miraflores.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duración: 3 1/2 horas.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 40.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR06" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">LIMA ILUMINADA</h2>
				<span class="txt-desc-02">
					Nuestra excursión muestra en detalle el imponente Centro Histórico de Lima, la Plaza San Martin, la Catedral de Lima y otros lugares. Además, podrá disfrutar del espectáculo de agua, luz, música e imágenes, presentadas en el famoso Parque de la Reserva.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guía turístico en inglés o español.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte desde hoteles en Lima y Miraflores.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duración: 3 1/2 horas.<br>
					<strong>SALIDAS:</strong> De miércoles a domingo.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 44.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR07" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">PACHACAMAC CIUDADELA SAGRADA</h2>
				<span class="txt-desc-02">
					Una experiencia arqueológica y mística inolvidable.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Visita guiada a la espléndida Ciudadela de Pachacamac, Santuario del Dios Pachacamac, Templo del Sol, Templo de Pachacamac, Acllahuasi o Palacio de las Vírgenes del Sol.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Duración: 3 1/2 horas.<br>
					<strong>SALIDAS:</strong> De martes a domingo. 

				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 49.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR08" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">MUSEO DE ORO</h2>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Exhibición de los más finos objetos trabajados en oro y plata del antiguo Perú, así como la colección más variada de armas de diferentes lugares del mundo en el “Museo de Oro del Perú”.<br>
					<strong>SALIDAS:</strong> De miércoles a domingo.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 56.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR09" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">MUSEO LARCO HERRERA</h2>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Descubra los impresionantes tesoros del antiguo Perú, donde se exhibe la más notable colección de oro y plata del Perú precolombino en el mundo; así como su famosa colección de cerámica erótica.<br>
					<strong>SALIDAS:</strong> De martes a domingo. 

				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 45.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">ICA PARACAS</h2>
</div>
<div id="TOUR10" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(img/paquetes/ica01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">LA HUACACHINA Y SOBREVUELO A LAS LINEAS DE NAZCA FULL DAY</h2>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Traslados desde/hasta el hotel.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte en bus turístico Lima/Ica/Lima.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Desayuno abordo tipo snack.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Visita a la Laguna de La Huacachina.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Sobrevuelo desde Ica (Incluye Impuestos).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Almuerzo en restaurante local de Ica.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guiado en servicio regular (español o inglés). 
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio">$ 355.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR11" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;padding-top:25px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">PARACAS Y SOBREVUELO A LAS LINEAS DE NAZCA</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 02DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 01NOCHES</h3>
				<span class="txt-desc-02">                    
					<i class="fa fa-check" aria-hidden="true"></i> Traslados desde/hasta el hotel.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte en bus turístico Lima/Paracas/Lima.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 noche de alojamiento en Paracas (01 desayuno).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Sobrevuelo a las líneas de Nazca (desde Pisco).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Excursión Marítima a las Islas Ballestas.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guiado en servicio regular (español - inglés). 
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 542.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR12" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #8D6E63;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">PARACAS, ICA Y SOBREVUELO A LAS LINEAS DE NAZCA</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NOCHES</h3>
				<span class="txt-desc-02">    
					<i class="fa fa-check" aria-hidden="true"></i> Traslados desde/hasta el hotel.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Transporte en bus turístico Lima/Paracas/Ica/Paracas/Lima.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 noches de alojamiento en Paracas (02 desayunos).<br>
					<i class="fa fa-check" aria-hidden="true"></i> Sobrevuelo a las líneas de Nazca (desde Pisco).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD City Tour Ica + Areneros y Sand boarding.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Excursión Marítima a las Islas Ballestas.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guiado en servicio regular (español - inglés). 
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 747.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">TRUJILLO Y CHICLAYO</h2>
</div>
<div id="TOUR13" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(img/paquetes/trujillo01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">TRUJILLO Y CHICLAYO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NOCHES</h3>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> Traslados de entrada y de salida.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 noche de alojamiento en Trujillo (01 desayuno).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD Templo del Dragón, Chan Chan y balneario de Huanchaco.<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD Complejo Arqueológico de El Brujo y Museo del Cao.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Bus Turístico Trujillo / Chiclayo.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 01 noche de alojamiento en Chiclayo (01 desayuno).<br>
					<i class="fa fa-check" aria-hidden="true"></i> HD Tumbas Reales del Señor de Sipán & Huaca Rajada.
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio">$ 350.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div class="demo-gap">
	<h2 class="tit-ciudad">PUERTO MALDONADO Y IQUITOS</h2>
</div>
<div id="TOUR14" class="jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(img/paquetes/iquitos01.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit">PUERTO MALDONADO</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NOCHES</h3>
				<span class="txt-desc">
					<i class="fa fa-check" aria-hidden="true"></i> 02 noches de alojamiento en Hacienda Concepción.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 desayunos, 02 almuerzos, 02 cenas.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Traslados en Puerto Maldonado desde aeropuerto.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Guías naturalistas, bilingües, locales que acompañan al pasajero durante todo su programa. 
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio">$ 415.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>
<div id="TOUR015" class="jarallax" data-jarallax='{"speed": 0.2}' style="background: #a0836f;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2 class="txt-tit-02">IQUITOS – CEIBA TOPS</h2>
				<h3 class="txt-subTIT-02"><i class="fa fa-sun-o" aria-hidden="true"></i> 03DIAS / <i class="fa fa-moon-o" aria-hidden="true"></i> 02NOCHES</h3>
				<span class="txt-desc-02">
					<i class="fa fa-check" aria-hidden="true"></i> Traslados terrestre y fluvial aeropuerto/lodge/aeropuerto.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 noches de alojamiento en Ceiba Tops.<br>
					<i class="fa fa-check" aria-hidden="true"></i> 02 desayunos, 03 almuerzos, 02 cenas.<br>
					<i class="fa fa-check" aria-hidden="true"></i> Servicios incluyen transporte, entradas y guiado en servicio regular (inglés o español).
				</span>
			</div>
			<div class="col-xs-12 col-md-6 pos-precio">
				<span class="txt-desde-02">Precio por persona <strong>DESDE</strong></span>
				<br>
				<span class="txt-precio-02">$ 440.00</span>
				<br>
				<button type="button" class="btn btn-primary btn-lg tour-by-days" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-check-circle" aria-hidden="true"></i> RESERVE AHORA
				</button>
			</div>
		</div>
	</div>
</div>