<div class="form-group">
    <label for="">Traslados :</label>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="37" checked> Traslado de llegada USD 37.00
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="37"> Traslado de salida USD 37.00
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="70"> Traslado de llegada y salida USD 70.00
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" value="0"> No requiero traslados USD 00.00
        </label>
    </div>
</div>
<div class="form-group prices">
    <label for="">Precio Total:</label>
    <strong> ??.?? </strong>
</div>
<input type="hidden" class="diffDays">
<input type="hidden" name="pre_request">
